<div class="user">
  <img src="images/<%= user.photo_url %>" />
  <p><%= user.name %></p>
  <p><%= user.role %> / <a href="mailto:<%= user.email %>"><%= user.email %></a></p>
  <hr />
  <p>
    <%= display_hour user.start_work_hour || 9 %>
    to
    <%= display_hour user.end_work_hour || 17 %>
  </p>
  <p><%= user.gtalk_status %></p>
</div>
