<% location_update = user.location_update %>
<div class="<%= user.gtalk_status %> user card <%= location_update.present? ? 'card-with-map' : '' %>">
  <img src="<%= user.gravatar_url(100) %>" class="avatar" />

  <div class="details">
    <p class="name">
      <span class="status"><%= user.gtalk_status %></span>
      <%= user.name %>
      <span class="email"><a href="mailto:<%= user.email %>"><%= user.email %></a></span>
    </p>
    <p class="info">
      <span class="role"><%= user.role %></span>
    </p>
    <p class="hours"><%= display_hour user.start_work_hour || 9 %> to <%= display_hour user.end_work_hour || 17 %></p>
  </div>
  <% if location_update.present? %>
    <div class="location">
      <p class="location-updated-at">Location updated <%= time_ago_in_words(location_update.created_at) %> ago (via <%= location_update.source %>)</p>
      <%= render partial: "map", locals: { user: user, location_update: location_update } %>
    </div>
  <% end %>
</div>
